asgiref==3.6.0
certifi==2023.5.7
distlib==0.3.6
Django==4.2.4
django-parler==2.3
filelock==3.12.2
Pillow==9.4.0
pipenv==2023.7.11
platformdirs==3.8.0
psycopg2-binary==2.9.5
PyJWT==2.6.0
pytz==2022.7.1
sqlparse==0.4.3
tzdata==2022.7
virtualenv==20.23.1
virtualenv-clone==0.5.7
whitenoise==6.3.0
